<div class="footerbgoverlay">
    <div class="footerbg color-effect"></div>
</div>

<div class="footer container col-lg-12 col-md-12 col-sm-12">

    <div class="logofooter col-md-3 col-sm-12">
        <a class="logoimg" href='#top'><img src='http://gfxdistrict.com/Indova-website/resources/images/indova%20footerlogo.png' alt="Indova"></a>
        <ul id="FooterLinks" class="footerList">
            <li>Copyright © 2017 Indova RSPS.</li>
            <li>All Rights Reserved.</li>
        </ul>
    </div>
    <div class='text_left col-md-6 col-sm-12'>

        <ul id="FooterLinks" class="footerList">
            <li class="footertitle">GAME</li>
            <li><a href='/play'>Download</a></li>
            <li><a href='/wiki'>Wiki</a></li>
            <li><a href='/store'>Store</a></li>
            <li><a href='/vote'>Vote</a></li>
            <li><a href='/support'>Support</a></li>
        </ul>
        <ul id="FooterLinks" class="footerList">
            <li class="footertitle">COMMUNITY</li>
            <li><a href='/home'>Home</a></li>
            <li><a href='/forums'>Forums</a></li>
            <li><a href='/forums'>Register</a></li>
            <li><a href='/discord'>Discord</a></li>
            <li><a href='/youtube'>YouTube</a></li>
        </ul>


    </div>

    <div class="footerCopyright col-md-3 col-sm-12">
        <a href="http://www.gfxdistrict.com/" target="_blank" id="copyright">Designed & Created by Calum</a>

    </div>


</div>