<div class="bodybg">
    <div class="bodybgoverlay color-effect"></div>
</div>
<div class="topbar container">
    <div class="topbarbg color-effect"></div>
    <div class="topbar-container d-none d-md-block">


        <ul class="righttext">
            <li class='d-none d-lg-inline-block'><span>Players Online: <strong>{{ players_online() }}</strong></span>
            </li>
            <li class='d-none d-lg-inline-block'><span>Server Status: <strong>Online</strong></span></li>
            <li class='color-effect'><span>
                  {% if app.user %}
                      Hello {{ app.user.displayName }} -
                      <a href='{{ app.url_generator.generate('security_logout') }}'>Logout</a>
                    {% else %}
                      <a href='{{ app.url_generator.generate('security.login') }}'>Login</a>
                  {% endif %}
                </span></li>
        </ul>

        <ul class="leftlinks">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-official"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://discord.com/"><i class="fa fa-headphones"></i></a></li>
            <li><a href="http://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
        <div id="logo">
            <a class="logoimg" href="/"><img
                        src='http://gfxdistrict.com/Indova-website/resources/images/indova-logopng.png'
                        alt="Indova"></a>
        </div>
    </div>
    <nav class="topbar-container navbar-dark navbar-toggleable-md bg-faded d-block d-md-none">
        <a class="navbar-brand" href="/">
            <img src='http://gfxdistrict.com/Indova-website/resources/images/indova-logopng.png' height="52"
                 alt="Indova">
        </a>
        <button class="navbar-toggler right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/forums">Forums</a>
                <a class="nav-item nav-link" href="{{ app.url_generator.generate('store.index') }}">Store</a>
                <a class="nav-item nav-link" href="/vote">Vote</a>
                <a class="nav-item nav-link" href="/hiscores">Hiscores</a>
            </div>
        </div>
    </nav>
</div>

<header id="header">
    <div class='navigation d-none d-md-block'>
        <div class="navbarbg color-effect"></div>
        <nav class="menunav">
            <li><a href="/forums">Forum</a></li>
            <li><a href="/store" class="">Store</a></li>
            <li class='color-effect'><a href="/play">
                    <div class="playbutton"></div>
                </a></li>
            <li class='color-effect'><a href="/vote" class="">Vote</a></li>
            <li class='color-effect'><a href="/hiscores" class="">Hiscores</a></li>
        </nav>
    </div>

    {% if app.request_stack.masterRequest.getRequestUri == '/' %}
        <div class='d-none d-lg-block pagetext'>
            <h2><span>BETA SERVER</span></h2>
            <h1><span>IS NOW OPEN</span></h1>
        </div>

        <div class='color-effect d-none d-sm-block'><a href="/play">
                <div class="dlbutton"></div>
            </a></div>
    {% endif %}

</header>