{% extends 'layout.html.twig' %}


{% block body %}
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-12 maincontainer">

            <div class="contentcontainer">
                <h3>NEWS & UPDATES</h3>

                {% for update in updates %}
                <div class="updatemod">
                    <div class="updatetitle">
                        <ul class="left">
                            <li><strong>{{ update.title }}</strong></li>
                        </ul>

                        <ul class="right d-none d-sm-inline-block d-md-inline-block d-lg-inline-block">
                            <li>{{ update.date | date('Y-m-d') }}</li>
                        </ul>
                    </div>
                    <div class='blockcontent'>
                        {{  update.description | raw }}
                        <a href="{{ update.link }}">
                            <button class='genbutton col-lg-4 col-md-5 col-sm-6' style="float: right;">Read More</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="sidecontainer col-lg-4 col-md-4 col-sm-12">
            <div class="sidecontentcontainer col-lg-11 col-md-11 col-sm-11">

                <h3 class="color-effect">Featured Video</h3>
                <div class='sideblockcontent'>
                    <iframe width="100%" height="152" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allowfullscreen></iframe>


                </div>

                <h3 class="color-effect">Discord Channel</h3>
                <div class='sideblockcontent'>
                    <iframe src="https://discordapp.com/widget?id=354757616259563524&theme=dark" width="100%" height="360" allowtransparency="true" frameborder="0"></iframe>

                </div>
            </div>
            <div class="sidecontainerbg  color-effect">
                <div class="sidehighlight">
                </div></div>
        </div>
    </div>
{% endblock %}