<!DOCTYPE html>
<html>
<head>
    <title>Indova - Welcome</title>
    <meta charset="UTF-8">
    <meta name="description" content="Indova is the best RuneScape Private Server (RSPS)
		2017. We thrive on the community's feedback and come up with unique and fun content
		for everyone to enjoy. Some content include Grand Exchange, Iron Man, Preset Inventory/Equipment,
		Hunter, Summoning, Construction, Farming, Perfect PVP, Scam-Proof Gambling and MUCH MORE">

    <meta name="keywords" content="Indova,Private Server, OldSchool PS, OSRS private server,Indova private server,best, osrs, rsps, real, rs, runescape private, private server, old school, old, school, server, no member, free, rsps-list, indova rsps, INDOVA, osrhd, runelocus, indova play">
    <meta name="author" content="Calum - GFXDistrict">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stoke" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/landing.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="color-animated">

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="http://gfxdistrict.com/Indova-website/resources/images/indova-sampleimg.png" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="http://gfxdistrict.com/Indova-website/resources/images/indova-sampleimg.png" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="http://gfxdistrict.com/Indova-website/resources/images/indova-sampleimg.png" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img src="http://gfxdistrict.com/Indova-website/resources/images/indova-sampleimg.png" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>


    </div>
</div>


<script>
    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>


<div class="bodybg">
    <div class="bodybgoverlay color-effect"></div></div>

<header id="header">


    <div id="logo">
        <a class="logoimg" href='javascript:window.location.href=window.location.href'><img src='http://gfxdistrict.com/Indova-website/resources/images/indova-landinglogo.png' alt="Indova"></a>
    </div>

    <div class='color-effect'><a href="/play"><div class="playnowbutton"></div></a></div>

</header>


<div class="container">
    <div class="col-lg-8 col-md-8 col-sm-12 maincontainer">

        <div class="landingcontainer">
            <h3>FEATURED VIDEO</h3>
            <div class="updatemod">
                <div class='videocontent'>
                    <iframe width="100%" height="399" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allowfullscreen></iframe>

                </div>
            </div>
            <div class="updatemod">
                <div class='landingcontent'>
                    <div class='galleryimg col-lg-3 col-md-3 col-sm-6'><img onclick="openModal();currentSlide(1)" class="scimg" src='http://gfxdistrict.com/Indova-website/resources/images/indova-sampleimg.png'></div>
                    <div class='galleryimg col-lg-3 col-md-3 col-sm-6'><img onclick="openModal();currentSlide(1)" class="scimg" src='http://gfxdistrict.com/Indova-website/resources/images/indova-sampleimg.png'></div>
                    <div class='galleryimg col-lg-3 col-md-3 col-sm-6'><img onclick="openModal();currentSlide(1)" class="scimg" src='http://gfxdistrict.com/Indova-website/resources/images/indova-sampleimg.png'></div>
                    <div class='galleryimg col-lg-3 col-md-3 col-sm-6'><img onclick="openModal();currentSlide(1)" class="scimg" src='http://gfxdistrict.com/Indova-website/resources/images/indova-sampleimg.png'></div>
                </div>
            </div>
            <div class="updatemod">
                <div class='landingcontent'>
                    <p>Nequo omnis noneceriat et ipsae re peres est, ut ullatis dipsam, sitemolorro dunt quia volut ad quidelignis in ne debit estisquia quiati aborio dollenis aut fugia nobitio inulpa comnis illaborit.
                        Nusaept atestia ectius repta sed quatur senimo et et officil loreiunt, sunt, non etur aut lab ius.        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidecontainer col-lg-4 col-md-4 col-sm-12">
        <div class="sidecontentcontainer col-lg-11 col-md-11 col-sm-11">

            <h3 class="color-effect">About US! </h3>
            <center><img src='http://gfxdistrict.com/Indova-website/resources/images/indova%20footerlogo.png' alt="Indova"></center>
            <div class='sideblockcontent'>
                <p>Nequo omnis noneceriat et ipsae re peres est, ut ullatis dipsam, sitemolorro dunt quia volut ad quidelignis in ne debit estisquia quiati aborio dollenis aut fugia nobitio inulpa comnis illaborit.
                    Nusaept atestia ectius repta sed quatur senimo et et officil loreiunt, sunt, non etur aut lab ius.
                    <br>
                    <br>
                    At lia arum et quasinctur remquatus exeribus num voluptiatur a doluptate de seditiur sincium dolor samus vendest rumquo tempori sinvel.
                    <br>
                    <br>
                    Nusaept atestia ectius repta sed quatur senimo et et officil loreiunt, sunt, non etur aut lab ius.
                    At lia arum et quasinctur remquatus exeribus num voluptiatur a doluptate de seditiur sincium dolor samus vendest rumquo tempori sinvel illuptate del in pori doluptat liquiam evenem.
                    <br>
                    <br>
                    Quidelignis in ne debit estisquia quiati aborio dollenis aut fugia nobitio inulpa comnis illaborit.
                    Nusaept atestia ectius repta sed quatur.</p>
            </div>

        </div>
        <div class="sidecontainerbg  color-effect">
            <div class="landingsidehighlight">
            </div></div>
        <div class='color-effect col-lg-12 col-md-12 col-sm-12'><a href="/"><button class="genbutton">Continue to Full Site</button></a>
        </div>
    </div>
</div>


<script src="/resources/js/bootstrap.min.js"></script>
</body>
</html>