<!DOCTYPE html>
<html>
<head>
    <title>Indova</title>
    <meta charset="UTF-8">
    <meta name="description" content="Indova is the best RuneScape Private Server (RSPS)
		2018. We thrive on the community's feedback and come up with unique and fun content
		for everyone to enjoy. Some content include Grand Exchange, Iron Man, Preset Inventory/Equipment,
		Hunter, Summoning, Construction, Farming, Perfect PVP, Scam-Proof Gambling and MUCH MORE">

    <meta name="keywords"
          content="Indova,Private Server, OldSchool PS, OSRS private server,Indova private server,best, osrs, rsps, real, rs, runescape private, private server, old school, old, school, server, no member, free, rsps-list, indova rsps, INDOVA, osrhd, runelocus, indova play">
    <meta name="author" content="Calum - GFXDistrict">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png"/>

    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Stoke" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/mainsheet.css">
</head>
<body class="color-not-animated">

{% include 'components/header.html.twig' %}

{% block body %}
{% endblock body %}

{% include 'components/footer.html.twig' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

<script src="/resources/js/bootstrap.min.js"></script>

{% block javascript %}
{% endblock javascript %}
</body>
</html>