{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 fullwidthcontainer">
            {% block content %}
                this block doesn't have any content yet.
            {% endblock content %}
        </div>
    </div>
{% endblock body %}