 body {
     background: #040404;
    margin: 0;
    color: #7f7f7f;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
     position: relative;
}

.bodybg {
        top: 0;
        bottom: 0; 
        left: 0;
        right: 0;
position: absolute;
}

.bodybg:before {
    background: transparent url(../images/indova-backgroundoverlay.png) center top no-repeat;
   top: -120px;
        bottom: 0; 
        left: 0;
        right: 0;
position: absolute;
    z-index: 2;
    content: '';

}

.bodybgoverlay {
        background: #040404 url(../images/indova-background2.jpg) center top no-repeat;
 top: -120px;
        bottom: 0; 
        left: 0;
        right: 0;
position: absolute;
    z-index: 1;

}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;
        margin-bottom: 50px;
}

.mainhighlight {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-main-highlight2.png) top center repeat-y;
    opacity: 1;
    z-index: 4;
    position: relative;
    height: 100%;
    
}

.sidehighlight {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-side-highlight2.png) top center repeat-y;
    opacity: 0.3;
    z-index: 9;
    position: relative;
    margin: 0 auto;
    height: 685px;
}

.landingsidehighlight {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-side-highlight2.png) top center repeat-y;
    background-size: 100%;
    opacity: 0.3;
    z-index: 9;
    position: relative;
    margin: 0 auto;
 height: 100%;
}

.maincontainer {
    position: relative;
    z-index: 3;
        background: url(../images/indova-main-texturebg.png) top center repeat-y;
    display: inline-block;
    border: 1px solid #7a1201;
    margin-bottom: 20px;
}


.sidecontainer {
    position: relative;
    float: right;
    display: inline-block;
     margin-bottom: 20px;
        height: 580px;
}

.sidecontainerbg {
    position: relative;
    z-index: 3;
        background: url(../images/indova-main-fulltexturebg.png) top center repeat-y;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
        border: 1px solid #7a1201;
        height: 100%;
}


.contentcontainer {
       margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landingcontainer {
       margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidecontentcontainer {
       margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
        position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
}
/*
maincontainer::before {
      background: url(../images/indova%20main%20topbg.png) top no-repeat;
    height: 56px;
    width: 801px;
    z-index: 10;
    position:relative;
}
        
maincontainer::after {

    background: url(../images/indova%20main%20bottombg.png) bottom no-repeat;
    height: 56px;
    width: 801px;
    z-index: 10;
    position:relative;
} */

p {
        font-size: 12px;
    text-align: left;
    color: #828282;
    line-height: 1.5;
    
}

a {
    text-decoration: none;
    color: #aeaeae;
}

a:hover {
    color: #ff2c00;
}
    
    
.topbar-container {
        margin: 0 auto;
    width: 100%;
 height: 60px;
    position: relative;
    z-index: 3;
}

#topBar {
    background: #1c1c1c;
    position: relative;
    border-bottom: 1px solid #448933;
    height:45px;
    line-height:45px;
    font-size: 12px;
}
#header {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
}



#navbar {
    position: relative;
    width: 100%;
    text-align: center;
    height: 90px;
}

#navbar a:link, #navbar a:visited {
    text-shadow: 0 3px 5px #000;
    margin-left: 8px;
    display: block;
    color: #aeaeae;
    text-align: center;
    font-family: 'Stoke', serif;
    line-height: 80px;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#navbar a:hover, #navbar a:active {
    color: #ff8400;
    text-shadow: 0 3px 10px #ff1e00;
}

#navbar ul {
    position: relative;
    list-style-type: none;
}

#navbar li {
    display: inline-block;
}

/* Designed and created by Calum - GFXDistrict.com */

.rightlinks {
    float: right;
        height: 60px;
    list-style: none;
    margin: 0 auto;
}

.topbar {
    height: 61px;

}

.topbar:before {
    content: '';
    background: transparent url(../images/Indova-Top-Bar-Texture-before.png) top center repeat;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 61px;
}

.topbarbg {
        background: transparent url(../images/Indova-Top-Bar-Texture.png) top center repeat;
 height: 61px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}


.navigation {
    display: inline-block;
    height: 100px;
    width: 100%;
    position: relative;
}

.navigation:before {
        background: transparent url(../images/indova-navbar-overlay.png) center top no-repeat;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    content: '';
}

.navbarbg {
            background: transparent url(../images/indova-navbar.png) center top no-repeat;
        top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

#logo {
width: 400px;
    height: 320px;
    margin: 0 auto;
    position: relative;
    z-index: 25;
}
#logofooter {
float: left;
    width: 240px;
    height: 106px;
    z-index: 28;
    position: relative;
}

.menunav {
list-style: none;
    position: relative;
    margin: 0 auto;
    width: 579px;
    padding: 0;
        z-index: 20;
}

.rightlinks {
        height: 50px;
    list-style: none;
    margin: 0 auto;
    float: right;
        padding: 0;
}

.rightlinks li {
        font-size: 19px;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
    color: #fff;
    height: 60px;
    display: inline-block;
}

.rightlinks li a {
        display: block;
        color: #ff2f00;
        padding: 20px 10px;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.rightlinks li a:hover {
    color: #d6d6d6;
}

.lefttext {
        height: 50px;
    list-style: none;
    margin: 0 auto;
    float: left;
        padding: 0;
}

.lefttext li {
        font-size: 12px;
    font-family: 'Roboto', sans-serif;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
    color: #fff;
    height: 60px;
    display: inline-block;
}

.lefttext li span {
        display: block;
        color: #d6d6d6;
    padding: 25px 10px;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}


.lefttext strong {
    color: #ff2f00;
}

.pagetext {
    margin: 30px;
width: 1160px;
    height: 205px;
    position: relative;
    margin: 0 auto;
    top: 150px;
}

.pagetext h1, .pagetext h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
        margin: 0;
}

.pagetext h2 {
    font-size: 100px;
    height: 60px;
}

.pagetext h1 {
    font-size: 130px;
}
.pagetext h1, .pagetext h2 span {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-texttexture.png) center top repeat;
    background: -o-linear-gradient(transparent,transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    z-index: 1;
}



.rightlinks {
        height: 50px;
    list-style: none;
    margin: 0 auto;
    float: right;
}

.menunav li {
    display: inline-block;
    padding: 0 20px;
}
.menunav li:last-child {
    padding-right: 0;
}

.menunav li a {
    color: #d6d6d6;
    text-shadow: 0px 2px 6px #000;
   font-weight: 500;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.menunav li a:hover {
    color: #ff2f00;
}


.enterbutton {
    position: relative;
    z-index: 7;
    margin: 0 auto;
            margin-top: 15px;
    width: 330px;
    height: 85px;
    background: url(../images/indova-enterbutton.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.enterbutton:hover {
    background-image: url(../images/indova-enterbutton-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}

.downloadbutton {
    position: relative;
    z-index: 7;
    margin: 0 auto;
    width: 390px;
    height: 85px;
    background: url(../images/indova-downloadbutton.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.downloadbutton:hover {
    background-image: url(../images/indova-downloadbutton-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}

.registerbutton {
    position: relative;
    z-index: 7;
    margin: 0 auto;
    width: 390px;
    height: 85px;
    background: url(../images/indova-registerbutton.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.registerbutton:hover {
    background-image: url(../images/indova-registerbutton-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}


.signupbutton {
    position: relative;
    z-index: 7;
    margin: 0 auto;
    width: 390px;
    height: 85px;
    background: url(../images/indova-signupbutton.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.signupbutton:hover {
    background-image: url(../images/indova-signupbutton-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}

.playnowbutton {
    position: relative;
    z-index: 7;
    margin: 0 auto;
    width: 290px;
    height: 85px;
    background: url(../images/indova-playbutton.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.playnowbutton:hover {
    background-image: url(../images/indova-playbutton-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}



.readmore {
    position: absolute;
    float: right;
    z-index: 7;
    margin: 0 auto;
bottom: 0;
    right: 0;
    width: 130px;
    margin: 10px;
    height: 60px;
    background: url(../images/indova-readmore.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.readmore:hover {
    background-image: url(../images/indova-readmore-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}

.gameactivity {
    
    overflow: hidden;
    position: relative;
    height: 250px;
}





.footer {
    padding: 20px 0;
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
    height: 280px;
    margin-top: 25px;
}
.footerbgoverlay:before {
   background: transparent url(../images/indova-footerbg-overlay.png) center bottom no-repeat;
z-index: 6;
    content: '';
    width: 1250px;
    left: 0;
    right: 0;
     bottom: 0;
    margin: 0 auto;
    height: 300px;
    position: absolute;
}

.footerbg {
    background: transparent url(../images/indova-footerbg.png) center bottom no-repeat;
    z-index: 5;
    position:absolute;
    width:1250px;
    height:300px;
        left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}


.footer, .footer p, .footer a {
    color: #a2a2a2;
    text-decoration: none;
    text-shadow: 0px 2px 5px #000;
        font-size: 14px;
}
.footer a:hover {
    color: #ff3400;
}

.text_left {
    float: left;
    top: 20px;
    position: relative;
    z-index: 25;
}

.footertitle {
    font-weight: 600;
    font-size: 24px;
    color: #d6d6d6;
    text-shadow: 0px 2px 5px #000;
    text-transform: uppercase;
    border-right: 1px solid #c71c00;
    padding-right: 20px;
}

#FooterLinks {
       padding: 0px 0px 15px 15px;
    z-index: 26;
}

.footerList > li {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.footerList {
    margin: 0;
padding:0;
    list-style: none;
}
.footerCopyright {
    margin-bottom: 4px;
    padding: 0 15px;
    float: right;
        top: 20px;
    position: relative;
}

.footer .copyright {
    margin: 0;
    text-align: right;
    float: right;
    padding: 0px 15px;
        opacity: 0.6;
}


.leftinfo {
  clear: both;
  text-align: left;
  color: #828282;
}

.rightinfo {
  float: right;
  color: #ff6d1b;
}

.borderbot {
  border-bottom: 1px solid #333;
  padding-top: 5px;
  padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 14px;
  background: #000;
}
 
::-webkit-scrollbar-track {
  background: #000;
}
 
::-webkit-scrollbar-thumb {
    background: #4f0e00;
}

::-moz-selection { /* Code for Firefox */
    color: #ff2900;
    background: #0c0c0c;
}

::selection {
    color: #ff2900; 
    background: #0c0c0c;
}

.btn-outline-success {
    color: #ff7b13;
    background-image: none;
    background-color: transparent;
    border-color: #8b3d1c;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #2b211e;
    border-color: #910e06;
}

.badge-default {
    background-color: #8a0d05;
}

.form-control {

    background-color: #181313;
    
}

.form-control:focus {
    color: #f2f2f2;
    background-color: #151515;
    border-color: #851500;
    outline: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.color-animated .color-effect {
  -webkit-filter: hue-rotate(101deg);
          filter: hue-rotate(101deg);
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 60s;
  -webkit-animation-name: changecolour;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 60s;
  -moz-animation-name: changecolour;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 60s;
  -o-animation-name: changecolour;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 60s;
  animation-name: changecolour;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.color-animated .no-color-effect {
  -webkit-filter: none;
          filter: none;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes changecolour {
  0% {
    -webkit-filter: hue-rotate(101deg);
            filter: hue-rotate(101deg); }
  50% {
    -webkit-filter: hue-rotate(-180deg);
            filter: hue-rotate(-180deg); }
  100% {
    -webkit-filter: hue-rotate(101deg);
            filter: hue-rotate(101deg); } }

@keyframes changecolour {
  0% {
    -webkit-filter: hue-rotate(101deg);
            filter: hue-rotate(101deg); }
  50% {
    -webkit-filter: hue-rotate(-180deg);
            filter: hue-rotate(-180deg); }
  100% {
    -webkit-filter: hue-rotate(101deg);
            filter: hue-rotate(101deg); } }

.color-red .color-effect {
  -webkit-filter: hue-rotate(340deg);
          filter: hue-rotate(340deg); }

.color-green .color-effect {
  -webkit-filter: hue-rotate(101deg);
          filter: hue-rotate(101deg); }

.color-blue .color-effect {
  -webkit-filter: hue-rotate(181deg);
          filter: hue-rotate(181deg); }

.color-purple .color-effect {
  -webkit-filter: hue-rotate(246deg);
          filter: hue-rotate(246deg); }

.color-pink .color-effect {
  -webkit-filter: hue-rotate(272deg);
          filter: hue-rotate(272deg); }

.color-orange .color-effect {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg); }


.sidecontentcontainer h3 {
        color: #d4d4d4;
    border-bottom: 1px solid #dd3800;  
    margin: 0;
    padding: 6px 0px;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
        font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.contentcontainer h3 {
        color: #d4d4d4;
    border-bottom: 1px solid #ac1800;  
    margin: 0;
    padding: 6px 0px;
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
        font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}

.landingcontainer h3 {
        color: #d4d4d4;
    border-bottom: 1px solid #ac1800;  
    margin: 0;
    padding: 6px 0px;
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
        font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.fullsite {
background: url(indova)

    margin-bottom: 10px;
}


.fullsite {
    position: relative;
    z-index: 7;
    margin: 0 auto;
            margin-top: 5px;
    width: 357px;
    height: 85px;
    background: url(../images/indova-continuetofullsite.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.fullsite:hover {
    background-image: url(../images/indova-continuetofullsite-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}



.sideblockcontent {
        background: rgba(0,0,0,0.5);
    padding: 10px;
 margin-bottom: 10px;
        font-size: 13px;
    line-height: 1.2rem;
}

.updatemod {
    margin-bottom: 20px;
}

.galleryimg {
    height: 100px;
    float: left;
    display: inline-block;
    position: relative;
    padding: 0 !important;
}

.scimg {
    cursor: pointer;
}

.scimg:hover {
    opacity:0.75;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.76);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.blockcontent {
        background: rgba(0,0,0,0.22);
    padding: 10px;
 height: auto;
position: relative;
    line-height: 1rem;
        overflow: hidden;
}

.videocontent {
        background: rgba(0,0,0,0.22);
    padding: 10px;
position: relative;
        overflow: hidden;
}

.landingcontent {
        background: rgba(0,0,0,0.22);
    padding: 10px;
position: relative;
        overflow: hidden;
}

.landingcontent p {
    font-size: 14px;
    line-height: 1.3rem;
}

.updatetitle {
    border-bottom: 1px solid #ac1800;  
    margin: 0;
    padding: 6px 0px;
    background: #000;
    height: 25px;
}

.updatetitle ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.updatetitle li {
     color: #6e6e6e;
        font-size: 12px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
        font-weight: 700;
    text-align: right;
}

.updatetitle li strong {
      font-size: 21px;
    color: #ff1900;
    font-weight: 900;
}

.left {
    float: left;
}
.right {
    float:right;
}

.genbutton {
     font-size: 23px;
    width: 100%;
        padding: 8px 15px;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.5px;
    background: url(../images/indova-button-bg.png);
    box-shadow: inset 0 0 10px black, 0 0 9px black;
    border: 1px solid #e62000;
    color: #fff;
    text-shadow: 0px 4px 11px #000;
    margin-top: 10px;
}
 
.genbutton:hover {
    background: url(../images/indova-button-bg-hover.png);
    box-shadow: inset 0 0 10px black, 0 0 14px #ff5b00;
    border: 1px solid #ff6d04;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
}