body {
    background: #040404;
    margin: 0;
    color: #7f7f7f;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    position:relative;
}

.bodybg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.bodybg:before {
    background: transparent url(../images/indova-backgroundoverlay.png) center top no-repeat;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    content: '';

}

.bodybgoverlay {
    background: #040404 url(../images/indova-background2.jpg) center top no-repeat;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;

}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

/*
.maincontainer {
width: 803px;
    background: url(../images/indova%20main%20topbg.png) top no-repeat, url(../images/indova%20main%20bottombg.png) bottom no-repeat, url(../images/indova%20main%20middlebg.png) repeat-y;
    height: auto;
    position: relative;
    z-index: 8;
        display: inline-block;

} */

.mainhighlight {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-main-highlight2.png) top center repeat-y;
    opacity: 1;
    z-index: 4;
    position: relative;
    height: 100%;

}

.pagehighlight {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-page-highlight.png) top center repeat-y;
    opacity: 1;
    z-index: 4;
    position: relative;
    height: 100%;

}

.sidehighlight {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-side-highlight2.png) top center repeat-y;
    background-size: 100%;
    opacity: 0.3;
    z-index: 9;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.sidehighlight::after {
    content: "";
    display: block;
    clear: both;
}

.landingsidehighlight {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-side-highlight2.png) top center repeat-y;
    background-size: 100%;
    opacity: 0.3;
    z-index: 9;
    position: relative;
    margin: 0 auto;
    height: 60vh;
}

.maincontainer {
    position: relative;
    z-index: 3;
    background: url(../images/indova-main-texturebg.png) top center repeat-y;
    display: inline-block;
    border: 1px solid #7a1201;
    margin-bottom: 20px;
    padding: 0 35px;
}

.fullwidthcontainer {
    position: relative;
    z-index: 3;
    background: url(../images/indova-main-fulltexturebg.png) top center repeat;
    border: 1px solid #7a1201;
    min-height: 50vh;
}

.sidecontainer {
    position: relative;
    float: right;
    height: 1000px;
}

.sidecontainer:after
{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
}

.sidecontainerbg {
    position: relative;
    z-index: 3;
    background: url(../images/indova-main-texturebg.png) top center repeat-y;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    border: 1px solid #7a1201;
    height: 100%;
}


.contentcontainer {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagecontainer {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landingcontainer {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 645px;
}

.sidecontentcontainer {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
}
/*
maincontainer::before {
      background: url(../images/indova%20main%20topbg.png) top no-repeat;
    height: 56px;
    width: 801px;
    z-index: 10;
    position:relative;
}

maincontainer::after {

    background: url(../images/indova%20main%20bottombg.png) bottom no-repeat;
    height: 56px;
    width: 801px;
    z-index: 10;
    position:relative;
} */

p {
    font-size: 12px;
    text-align: left;
    color: #828282;
    line-height: 1.5;

}

a {
    text-decoration: none;
    color: #aeaeae;
}

a:hover {
    color: #ff2c00;
}


.topbar-container {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 23;
}

#topBar {
    background: #1c1c1c;
    position: relative;
    border-bottom: 1px solid #448933;
    height:45px;
    line-height:45px;
    font-size: 12px;
}
#header {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 22;
    margin-bottom: 10px;
}



#navbar {
    position: relative;
    width: 100%;
    text-align: center;
    height: 90px;
}

#navbar a:link, #navbar a:visited {
    text-shadow: 0 3px 5px #000;
    margin-left: 8px;
    display: block;
    color: #aeaeae;
    text-align: center;
    font-family: 'Stoke', serif;
    line-height: 80px;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#navbar a:hover, #navbar a:active {
    color: #ff8400;
    text-shadow: 0 3px 10px #ff1e00;
}

#navbar ul {
    position: relative;
    list-style-type: none;
}

#navbar li {
    display: inline-block;
}

/* Designed and created by Calum - GFXDistrict.com */

.rightlinks {
    float: right;
    height: 50px;
    list-style: none;
    margin: 0 auto;
}

.topbar {
    height: 61px;

}

.topbar:before {
    content: '';
    background: transparent url(../images/Indova-Top-Bar-Texture-before.png) top center repeat;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 61px;
}

.topbarbg {
    background: transparent url(../images/Indova-Top-Bar-Texture.png) top center repeat;
    height: 61px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}


.navigation {
    display: inline-block;
    height: 100px;
    width: 100%;
    position: relative;
}

.navigation:before {
    background: transparent url(../images/indova-navbar-overlay.png) center top no-repeat;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    content: '';
}

.navbarbg {
    background: transparent url(../images/indova-navbar.png) center top no-repeat;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

#logo {
    width: 287px;
    height: 105px;
    margin: 0 auto;
    position: absolute;
    left: -9px;
    right: 0;
    top: -12px;
    z-index: 25;
}
.logofooter {
    float: left;
    width: 100%;
    height: 106px;
    z-index: 28;
    position: relative;
    display: grid;
}


.menunav {
    list-style: none;
    position: relative;
    margin: 0 auto;
    width: 579px;
    padding: 0;
    top: -10px;
    z-index: 20;
}

.leftlinks {
    height: 50px;
    list-style: none;
    margin: 0 auto;
    float: left;
    padding: 0;
}

.leftlinks li {
    font-size: 19px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
    color: #fff;
    height: 50px;
    display: inline-block;
}

.leftlinks li a {
    display: block;
    color: #ff2f00;
    padding: 20px 10px;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.leftlinks li a:hover {
    color: #d6d6d6;
}

.righttext {
    height: 50px;
    list-style: none;
    margin: 0 auto;
    float: right;
    padding: 0;
}

.righttext li {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
    color: #fff;
    height: 50px;
    display: inline-block;
}

.righttext li span {
    display: block;
    color: #d6d6d6;
    padding: 25px 10px;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.righttext li a {
    color: #ff2f00;
}



.righttext strong {
    color: #3ae31e;
}

.pagetext {
    margin: 30px;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 100px;
}

.pagetext h1, .pagetext h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    margin: 0;
}

.pagetext h2 {
    font-size: 100px;
    height: 60px;
}

.pagetext h1 {
    font-size: 130px;
}
.pagetext h1, .pagetext h2 span {
    background: -webkit-linear-gradient(transparent, transparent), url(../images/indova-texttexture.png) center top repeat;
    background: -o-linear-gradient(transparent,transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    z-index: 1;
}



.leftlinks {
    height: 50px;
    list-style: none;
    margin: 0 auto;
    float: left;
}

.menunav li {
    display: inline-block;
    padding: 0 20px;
}
.menunav li:last-child {
    padding-right: 0;
}

.menunav li a {
    color: #d6d6d6;
    text-shadow: 0px 2px 6px #000;
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.menunav li a:hover {
    color: #ff2f00;
}


.playbutton {
    position: relative;
    float: right;
    z-index: 7;
    margin: 0 auto;
    top: 23px;
    width: 130px;
    height: 60px;
    background: url(../images/indova-playnow.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.playbutton:hover {
    background-image: url(../images/indova-playnow-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}

.dlbutton {
    position: relative;
    z-index: 7;
    margin: 0 auto;
    margin-top: 105px;
    width: 330px;
    height: 85px;
    background: url(../images/indova-dlbutton.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.dlbutton:hover {
    background-image: url(../images/indova-dlbutton-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}

.readmore {
    position: absolute;
    float: right;
    z-index: 7;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    width: 130px;
    margin: 10px;
    height: 60px;
    background: url(../images/indova-readmore.png) no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}
.readmore:hover {
    background-image: url(../images/indova-readmore-hover.png);
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;

}

.gameactivity {

    overflow: hidden;
    position: relative;
    height: 250px;
}





.footer {
    padding: 20px 0;
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
    height: 280px;
    margin-top: 25px;
    position: relative;
    z-index: 22;
}
.footerbgoverlay:before {
    background: transparent url(../images/indova-footerbg-overlay.png) center bottom no-repeat;
    z-index: 6;
    content: '';
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 300px;
    position: absolute;
}

.footerbg {
    background: transparent url(../images/indova-footerbg.png) center bottom no-repeat;
    z-index: 5;
    position:absolute;
    width: 100%;
    height:300px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}


.footer, .footer p, .footer a {
    color: #a2a2a2;
    text-decoration: none;
    text-shadow: 0px 2px 5px #000;
    font-size: 13px;
}
.footer a:hover {
    color: #ff3400;
}

.text_left {
    float: left;
    top: 20px;
}

.footertitle {
    font-weight: 600;
    font-size: 24px;
    color: #d6d6d6;
    text-shadow: 0px 2px 5px #000;
    text-transform: uppercase;
    border-right: 1px solid #c71c00;
    padding-right: 20px;
}

#FooterLinks {
    padding: 0px 0px 15px 0px;
    z-index: 26;
}

.footerList > li {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.footerList {
    margin: 0;
    padding:0;
    list-style: none;
}
.footerCopyright {
    margin-bottom: 4px;
    padding: 0 15px;
    float: right;
    top: 20px;
    position: relative;
}

.footer .copyright {
    margin: 0;
    text-align: right;
    float: right;
    padding: 0px 15px;
    opacity: 0.6;
}


.leftinfo {
    clear: both;
    text-align: left;
    color: #828282;
}

.rightinfo {
    float: right;
    color: #ff6d1b;
}

.borderbot {
    border-bottom: 1px solid #333;
    padding-top: 5px;
    padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 14px;
    background: #000;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #4f0e00;
}

::-moz-selection { /* Code for Firefox */
    color: #ff2900;
    background: #0c0c0c;
}

::selection {
    color: #ff2900;
    background: #0c0c0c;
}

.btn-outline-success {
    color: #ff7b13;
    background-image: none;
    background-color: transparent;
    border-color: #8b3d1c;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #2b211e;
    border-color: #910e06;
}

.badge-default {
    background-color: #8a0d05;
}

.form-control {

    background-color: #181313;

}

.form-control:focus {
    color: #f2f2f2;
    background-color: #151515;
    border-color: #851500;
    outline: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.color-animated .color-effect {
    -webkit-filter: hue-rotate(101deg);
    filter: hue-rotate(101deg);
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 60s;
    -webkit-animation-name: changecolour;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 60s;
    -moz-animation-name: changecolour;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 60s;
    -o-animation-name: changecolour;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 60s;
    animation-name: changecolour;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.color-animated .no-color-effect {
    -webkit-filter: none;
    filter: none;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

@-webkit-keyframes changecolour {
    0% {
        -webkit-filter: hue-rotate(101deg);
        filter: hue-rotate(101deg); }
    50% {
        -webkit-filter: hue-rotate(-180deg);
        filter: hue-rotate(-180deg); }
    100% {
        -webkit-filter: hue-rotate(101deg);
        filter: hue-rotate(101deg); } }

@keyframes changecolour {
    0% {
        -webkit-filter: hue-rotate(101deg);
        filter: hue-rotate(101deg); }
    50% {
        -webkit-filter: hue-rotate(-180deg);
        filter: hue-rotate(-180deg); }
    100% {
        -webkit-filter: hue-rotate(101deg);
        filter: hue-rotate(101deg); } }

.color-red .color-effect {
    -webkit-filter: hue-rotate(340deg);
    filter: hue-rotate(340deg); }

.color-green .color-effect {
    -webkit-filter: hue-rotate(101deg);
    filter: hue-rotate(101deg); }

.color-blue .color-effect {
    -webkit-filter: hue-rotate(181deg);
    filter: hue-rotate(181deg); }

.color-purple .color-effect {
    -webkit-filter: hue-rotate(246deg);
    filter: hue-rotate(246deg); }

.color-pink .color-effect {
    -webkit-filter: hue-rotate(272deg);
    filter: hue-rotate(272deg); }

.color-orange .color-effect {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); }


.sidecontentcontainer h3 {
    color: #d4d4d4;
    border-bottom: 1px solid #dd3800;
    margin: 0;
    padding: 6px 0px;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.contentcontainer h3 {
    color: #d4d4d4;
    border-bottom: 1px solid #ac1800;
    margin: 0;
    padding: 6px 0px;
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}

.pagecontainer h3 {
    color: #d4d4d4;
    border-bottom: 1px solid #ac1800;
    margin: 0;
    padding: 6px 0px;
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.landingcontainer h3 {
    color: #d4d4d4;
    border-bottom: 1px solid #ac1800;
    margin: 0;
    padding: 6px 0px;
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}

.sideblockcontent {
    background: rgba(0,0,0,0.5);
    padding: 10px;
    margin-bottom: 10px;
}

.updatemod {
    margin-bottom: 20px;
}

.blockcontent {
    background: rgba(0,0,0,0.22);
    padding: 10px;
    height: auto;
    position: relative;
    line-height: 1rem;
    overflow: hidden;
}

.videocontent {
    background: rgba(0,0,0,0.22);
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.updatetitle {
    border-bottom: 1px solid #ac1800;
    margin: 0;
    padding: 6px 0px;
    background: #000;
    height: 45px;
}

.updatetitle ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.updatetitle li {
    color: #6e6e6e;
    font-size: 12px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: right;
}

.updatetitle li strong {
    font-size: 21px;
    color: #ff1900;
    font-weight: 900;
}

.left {
    float: left;
}
.right {
    float:right;
}

.genbutton {
    width: 100%;
    padding: 8px 15px;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.5px;
    color: #fff;
    text-shadow: 0px 4px 11px #000;
    background: url(../images/indova-button-bg.png);
    box-shadow: inset 0 0 10px black, 0 0 9px black;
    border: 1px solid #e62000;
    margin-top: 10px;
}

.genbutton:hover {
    background: url(../images/indova-button-bg-hover.png);
    box-shadow: inset 0 0 10px black, 0 0 14px #ff5b00;
    border: 1px solid #ff6d04;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
}

.nav-collapse,.nav-collapse.collapse{
    height: 150px;
    overflow:hidden
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 189, 77);
    background: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar-dark .navbar-toggler {
    margin: 10px 0px 0px 0px;
}

input, textarea, select, button {

    font-family: 'Kanit', sans-serif;
    color: #fff;
    text-shadow: 0px 4px 11px #000;
}
input, select, textarea {
    background-color: #040404;
    border: 0;
    padding: 8px;
}

input:focus {
    border-bottom: 1px solid #e62000;
    border-width: 0px 0px 1px 0px;
    outline: 0 !important;
}
:focus {
    border: 0;
    outline: 0 !important;
}

select:focus {
    border: 0;
    outline: 0 !important;
}

.centered-content {
    text-align: center;
}

.hidden {
    display: none;
}

.single-category {
    padding: 10px;
    background-color: #241d1d;
    text-align: center;
    display: inline-block;
}

.single-category span {
    display: block;
    font-size: 17px;
}

.store-sidebar {
    padding:20px;
    text-align: center;
}

.categories-wrapper {
    padding: 20px;
}

.store-credits {
    font-size: 18px;
}

.category-item-list {
    background-color: #241d1d;
    padding: 15px 25px;
    margin: 10px 0px;
    cursor: pointer;
}

.category-item-list .price {
    float: right;
    font-weight: bold;
    font-size: 16px;
}

.header-title {
    color: #d4d4d4;
    border-bottom: 1px solid #dd3800;
    margin: 0;
    padding: 6px 0px;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    text-shadow: 0px 2px 4px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-item {
    margin-bottom: 40px;
}


.single-toplist {
    text-align: center;
    padding: 10px;
}

.single-toplist > .inner {
    background-color: #241d1d;
    padding: 10px;
}

.single-toplist .name {
    width: 100%;
    font-size: 18px;
}

#claim-form {
    margin-top: 20px;
    padding: 10px;
    background-color: #241d1d;
}

#claim-form input {
    width: 100%;
}

/* hiscores from here */

.card {
    background-color: #241d1d;
}