{% extends 'page.html.twig' %}

{% block page_title %}
    <h3>2 factor authentication setup</h3>
{% endblock page_title %}

{% block content %}
    <div class="centered-content">
        <img align="center" src="{{ imageURI }}">
    </div>
{% endblock content %}x