{% extends 'page.html.twig' %}

{% block page_title %}
    <h3>Login with your account</h3>
{% endblock page_title %}

{% block content %}
    {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
    {% endif %}

    <form method="post" action="{{ app.url_generator.generate('security_login_check') }}">
        <input placeholder="username" type="text" name="_username" />
        <input placeholder="password" type="password" name="_password" />
        <input type="submit">
    </form>
{% endblock content %}