{% extends 'page.html.twig' %}


{% block content %}
    <div class="row">
    {% for toplist in toplists %}
        <div class="col-md-4 col-sm-12 single-toplist">
            <div class="inner">
                <span class="name">{{ toplist.name }}</span>
                <button
                        class="genbutton"
                        data-link="{{ toplist.link }}"
                        data-id="{{ toplist.id }}"
                        data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span> Loading..."
                        data-done-text="<span class='glyphicon glyphicon-ok'></span> Voted!"
                >Vote</button>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form id="claim-form">
                <h5 id="vote-message"></h5>
                <input placeholder="Username" id="vote-username" class="vote-input" type="text">
                <input class="genbutton" value="Claim reward" type="submit">
            </form>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script src="/resources/js/vote.js"></script>
{% endblock javascript %}