{% extends 'page.html.twig' %}

{% block content %}
    <div class="row">
        <div class="store-content col-md-8">
            <div class="categories-wrapper">
                {% for category in categories %}
                    <div class="single-category" data-id="{{ category.id }}">
                        <img src="//files.runiqueps.com/items/{{ category.itemId }}.png"/>
                        <span>{{ category.name }}</span>
                    </div>
                {% endfor %}
            </div>

            <div class="categories-items-wrapper hidden">
                <button id="back-button" class="store-back-button genbutton">Back!</button>
                {% for category in categories %}
                    <div id="item-list-{{ category.id }}" class="hidden">
                        {% for item in category.items %}
                        <div data-id="{{ item.itemId }}" data-price="{{ item.price }}" data-name="{{ item.name }}" class="category-item-list col-md-12">
                            <img src="//files.runiqueps.com/items/{{ item.itemId }}.png"/>
                            <span>{{ item.name }}</span>
                            <span class="price">{{ item.price }} credits</span>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="store-sidebar col-md-4">
            <div class="sidebar-item">
                <h3 class="header-title">Store</h3>
                {% if app.user %}
                    <h5 class="store-credits">Your credits: {{ app.user.storeCredits }}</h5>
                {% else %}
                    <h5>You are currently not logged in!</h5>
                {% endif %}

                <a href="#">
                    <button class="btn genbutton">Buy credits</button>
                </a>
            </div>

            <div class="sidebar-item">
            <h3 class="header-title">Basket</h3>
                <ul id="store-basket">
                </ul>

                Total: <span id="store-basket-total">0<span>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="/resources/js/store.js"></script>
{% endblock javascript %}