{% extends 'hiscore/layout.html.twig' %}

{% block hiscoretitle %}
    Overall hiscore
{% endblock hiscoretitle %}

{% block hiscorecontent %}
    <div class="row hiscore-entry hiscore-header">
        <div class="col-md-2 col-sm-2">
            Rank
        </div>
        <div class="col-md-1">
            Rights
        </div>
        <div class="col-md-4 col-sm-5">
            <b>Username</b>
        </div>
        <div class="col-md-2 col-sm-2">
            <b>Level</b>
        </div>
        <div class="col-md-3 col-sm-3">
            <b>Exp</b>
        </div>
    </div>

    {% set break = false %}
    {% for score in scores if not break %}
        <div class="row hiscore-entry">
            <a href="{{ app.url_generator.generate('hiscore.single', {username: score.getPlayername()}) }}">
                <div class="col-md-2 col-sm-2 rank">
                    {{ offset + loop.index }}
                </div>
                <div class="col-md-1">
                    {% if score.getRights() != 0 %}
                        <img class="hiscore-icon" src="/assets/img/icons/{{ score.getRights() }}.png"/>
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-5">
                    {{ score.getPlayername() }}
                </div>
                <div class="col-md-2 col-sm-2">
                    {{ score.getTotalLevel() }}
                </div>
                <div class="col-md-3 col-sm-3">
                    {{ score.getTotalExp() | number_format }}
                </div>
            </a>
        </div>

        {% if loop.index == 30 %}
            {% set break = true %}
        {% endif %}
    {% endfor %}
{% endblock hiscorecontent %}