{% extends 'page.html.twig' %}

{% block content %}
    <div class="container content-body">
        <div class="row">
            <div class="col-md-8 hiscore">
                <div class="card">
                    {% block headerstart %}
                    <div class="header">
                        {% endblock headerstart %}
                        {% block hiscoretitle %}
                        {% endblock hiscoretitle %}
                    </div>
                    <div class="content hiscore-box">
                        {% block hiscorecontent %}
                        {% endblock hiscorecontent %}
                        {% block hiscorenav %}
                            <nav class="hiscore-nav" aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% set currentPage = (offset / 30) + 1 %}

                                    {% if currentPage > 1 %}
                                        <li class="page-item">
                                            <a id="nav-previous" class="page-link">Previous</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link" id="current-page" href="#">{{ currentPage }}</a></li>
                                    {% if scores|length == 31 %}
                                        <li class="page-item">
                                            <a id="nav-next" class="page-link">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endblock hiscorenav %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 sidebar">
                <div class="header">
                    Search player
                </div>

                <div class="content">
                    <form id="user-search-form">
                        <input type="text" id="hiscore-user-search" class="hiscore_input" />
                        <input type="submit" class="voting_submit" value="Search" id="submit_search">
                    </form>
                </div>
              
                <div class="">
                    <div class="header">
                        Skills
                    </div>

                    <div class="content">
                        <div class="skill-row">
                            <img src="/resources/images/skills/overall.gif">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/0.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/1.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/2.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/3.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/4.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/5.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/6.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/7.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/8.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/9.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/10.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/11.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/12.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/13.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/14.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/15.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/16.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/17.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/18.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/19.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/20.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/21.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/22.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/23.png">
                        </div>

                        <div class="skill-row">
                            <img src="/resources/images/skills/24.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}